*{
    margin: 0;
    padding: 0;
}


//variable

$mycolor: #742296;

@font-face {
    font-family: "myfont";
    src: url("GreatVibes-Regular-webfont.ttf");
}

@font-face {
    font-family: "myfont2";
    src: url("JosefinSans-Regular.ttf");
}


nav{
    font-family: "myfont2", JosefinSans;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 40px;
    
    

    .logo{
       position: relative;
       right: 12%;
       width: 150px;
       height: 10vh;
    }

    .mylinks{
    
        a{
            text-decoration: none;
            font-size: 20px;
            margin-left: 30px;
            font-family: "myfont2", JosefinSans;
        }

        i{
            color: #742296;
        
        }

        .bars{
            display: none;
        }

        .move{
            margin-left: 100px;
            border-radius: 10cm;
            width: 40px;
            height: 40px;
        }

        .aa{
           color: black;
        }

        .ss{
            color: $mycolor;
        }
    }

    #myNav{
        height: 100%;
        width: 0;
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        background-color:$mycolor;
        opacity: 40; 
        overflow-x: hidden; 
        transition: 0.3s;
        display: none;
        font-family: "myfont2", JosefinSans;
     }
   
}

.banner{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;

    h1{
        font-family: "myfont2", JosefinSans;
        font-size: 36px;
        font-weight: bolder;
        margin-top: 100px;
        width: 400px;
        margin-bottom: 10px;
    }

    .ban{
        margin-left: 50px;
        margin-right: 50px;
    }

    p{
        font-family: "myfont2", JosefinSans;
       font-size: 18px;
       width: 380px;
       margin-bottom: 15px;
       line-height: 1.5;
    }

    .vidz{
        color: $mycolor;
    }

    .buttons{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .disc{
        background-color:$mycolor;
        border: none;
        color: white;
        font-family: "myfont2", JosefinSans;
        padding: 10px 10px 10px 10px;
        margin-bottom: 20px;
    }

    .book{
        border: solid 4px $mycolor;
        font-family: "myfont2", JosefinSans;
        padding: 6px 10px 6px 10px;
        margin-bottom: 20px;
    }

    i{
        color: black;
        margin-right: 5px;
    }

    img{
        width: 400px;
        height: 80vh;
        object-fit: contain;
        
    }

    .imga{
        margin-top: 50px;
    }

    .imgs{
        margin-right: 30px;
    }
}

#About{

    margin-top: 100px;
    margin-bottom: 70px;

    h2{
      font-family: "myfont2", JosefinSans;
      font-weight: bolder;
      margin-left: 50px;
      margin-bottom: 30px;
      font-size: 24px;
    
    }
     
    p{
        font-family: "myfont2", JosefinSans;
        width: 447px;
        line-height: 1.5;
        font-size: 18px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;

        .images{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 480px;
           img{
            width: 240px;
            height: 45vh;
           }
           
           .imga{
            margin-top: 80px;
           }
        }
    }
    
    .vidsss{
        display: flex;
        flex-direction: column; 

        p{
            font-family: "myfont2", JosefinSans;
            font-size: 18px;
            margin-top: 15px;
        }

        button{
            width: 120px;
            background-color: $mycolor;
            padding: 8px;
            border: none;
            margin-top: 75px;
            color: white;
            font-family: "myfont2", JosefinSans;
        }
      
    }

    .video{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(WhatsApp\ Image\ 2024-05-02\ at\ 16.24.13_11af13b4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 447px;
        height: 50vh;

        img{
            border-radius: 12px;
            width: 40px;
            height: 30px;
        }

    }
}

#Services{

    margin-top: 100px;
    margin-bottom: 100px;

     h2{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
        font-family: "myfont2", JosefinSans;
        font-size: 24px;
        font-weight: bolder;
     }

    .container{
       display: flex;
       align-items: center;
       justify-content: space-evenly;

       .icons{
         background-image: url(WhatsApp\ Image\ 2024-05-03\ at\ 09.13.57_ba146596.jpg);
         background-size: cover;
         width:350px ;
         height: 75vh;
         position: relative;
         .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 85.5%;
            top: 89.5%;
        }

       }

       .iconss{
        background-image: url(WhatsApp\ Image\ 2024-05-03\ at\ 09.14.00_d618c560.jpg);
        background-size: cover;
        width:350px ;
        height: 75vh;
        position: relative;

        .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 85.5%;
            top: 89.5%;
        }
      }

      h4{
        font-family: "myfont2", JosefinSans;
        font-size: 20px;
        font-weight: bolder;
        position: absolute;
        top: 92%;
        left: 40%;
        color: white;

      }

       .list{
        background-color: $mycolor;
        height: 75vh;
        width: 350px;
        color: white;
        position: relative;

        ol{
            margin-top: 10px;
            margin-left: 20px;
            font-family: "myfont2", JosefinSans;

            li{
                margin-bottom: 10px;
            }

            .icon{
                width: 40px;
                height: 40px;
                position: absolute;
                left: 88.8%;
                top: 91.5%;
                background-color: #e5e5e5;
                padding: 10px;
            }
        }
        h3{
            font-family: "myfont2", JosefinSans;
            font-weight: bolder;
            font-size: 22px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    }
    
}

#Testimonial{
    margin-top: 50px;

    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
        font-size: 24px;
        font-family: "myfont2", JosefinSans;
        font-weight: bolder;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

    }

    .posi{
        position: relative;
        bottom: 50px;
    }

    .Tendai{

        background-image: url(WhatsApp\ Image\ 2024-05-02\ at\ 16.24.16_b5f3f362.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 400px;
        height: 50vh;
        i{
            color: white;
            background-color: $mycolor;
            padding: 5px;
            position: absolute;
            top: 86.4%;
            left: 90.4%;
        }
    }
    p{
        font-family: "myfont2", JosefinSans;
        font-size: 18px;
        width: 400px;
    }

    h4{
        font-family: "myfont2", JosefinSans;
        font-weight: bolder;
        font-size: 20px;
        margin-top: 10px;
    }

    
    .Miranda{

        background-image: url(WhatsApp\ Image\ 2024-05-03\ at\ 09.14.07_90f0d785.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 400px;
        height: 50vh;

        i{
            color: white;
            background-color: $mycolor;
            padding: 5px;
            position: absolute;
            top: 86.4%;
            left: 90.4%;
        }

       
    }

}

.seen{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    p{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 18px;
        font-family: "myfont2", JosefinSans;
        font-weight: bolder;
    }

    button{
        padding: 4px 8px 4px 8px;
        background-color: $mycolor;
        border: none;
        color: white;
        font-family: "myfont2", JosefinSans;
    }
    h2{
        font-family: "myfont2", JosefinSans;
        font-weight: bolder;
        margin-top: 50px;
        font-size: 24px;
        
    }

    .gram{
        font-family: "myfont", GreatVibes;
    }


    .container{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 850px;
      margin-top: -50px;

      .imag{
        margin-top: 150px;
      }
      img{
        width: 130px;
        height: 50vh;
      }

    }
}

footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: $mycolor;

    i{
        margin-right: 10px;
        color: white;
    }

    img{
        width: 150px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h4{
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
        color: white;
        text-decoration: underline;
        font-family: "myfont2", JosefinSans;
        

    }

    p{
        font-family: "myfont2", JosefinSans;
        font-size: 18px;
        color: white;
    }
}


//media queries

@media screen and (max-width: 575.98px){

    nav{
        margin-top: 20px;


        .mode{
            display: none;
        }

        .aa{
            display: none;
        }

        .ss{
            display: none;
        }

        .logo{
            position: relative;
            right: 10%;
            width: 130px;
         }

         .mylinks{
            .move{
                width: 30px;
                height: 30px;
            }

            .bars{
                display: flex;
                color: #742296;
            }
         }

         #myNav{
            height: 100%;
            width: 0;
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            background-color: #732296d5; 
            overflow-x: hidden; 
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        
            
            
            i{
                position: absolute;
                top: 20px;
                right: 45px;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 24px;
                
            }
        
         }


    }

    .banner{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 32px;
            width: 300px;
            margin-top: 0;
        }

        #none{
            display: none;
        }

        #non{
            display: none;
        }

        .imga{
            margin-top: 0;
        }

        .disc{
            padding: 8px 10px 8px 10px;
           
        }
    
        .book{
            border: solid 4px $mycolor;
            padding: 4px 10px 4px 10px;
            margin-bottom: 20px;
        }
        

        .ban{
            margin-left: 15px;
            margin-right: 0px;

            p{
                font-size: 16px;
                width: 320px;
            }
        }

        img{
            width: 158px;
            height: 60vh;
            margin-bottom: 10px;
        }

    }

    #About{

        margin-top: 70px;
        margin-bottom: 70px;
    
        h2{
          margin-left: 35px;
          margin-bottom: 30px;
          font-size: 24px;
        
        }
         
        p{ 
            font-size: 16px;
            width: 300px;
        }
    
        .container{
            display: flex;
            flex-direction: column;
            align-items: center ;
            justify-content: center;
    
            .images{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 300px;
                margin-bottom: 20px;

               img{
                width: 300px;
                height: 40vh;
                object-fit: cover;
               } 

               .imga{
                margin-top: 0px;
               }

               .imgg{
                display: none;
            
               }
               
            }
        }
        
        .vidsss{
    
            button{
                width: 120px;
                margin-top: 10px;
            }
          
        }
    
        .video{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 40vh;

            img{
                width: 40px;
                height: 30px;
            }

        }
    }

    
#Services{

    h2{
        margin-left: 35px;
        margin-top: -20px;
        width: 300px;
    }


    .container{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 10px;

       .icons{
         width:300px ;
         height: 70vh;
         position: relative;

         .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 83.5%;
            top: 89%;
        }

       }

       .iconss{
        width:300px ;
        height: 70vh;
        position: relative;

        .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 83.5%;
            top: 89%;
        }
      }


       .list{
        height: 70vh;
        width: 300px;

        ol{

            .icon{
                left: 83.5%;
                top: 89%;
            }
        }
    
     }
    }
    
}
#Testimonial{
    // margin-top: 50px;

    h2{
        margin-left: 35px;
        width: 300px;
       
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    // .posi{
    //     position: relative;
    //     bottom: 50px;
    // }

    .Tendai{

        width: 300px;
        height: 40vh;
        i{
            top: 84%;
            left: 87%;
        }
    }
    p{
        font-size: 16px;
        width: 300px;
    }


    
    .Miranda{

    
        width: 300px;
        height: 40vh;
        margin-top: 50px;

        i{
          
            top: 84%;
            left: 87%;
        }

       
    }

}

.seen{
    margin-top: 0;

    h2{
        margin-top: 0;
    }


    // button{
    //     padding: 4px;
    //     background-color: $mycolor;
    //     border: none;
    //     color: white;
    // }
   


    .container{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px;
      width: 360px;

      img{
        margin-top: 0px;
        width: 100px;
        height: 35vh;
      }


      .imag{
        margin-top: 0px;
      }

    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;


    img{
        width: 100px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

   

    p{
        font-size: 16px;
    }
  
}

}


@media only screen and (min-width: 576px) and (max-width: 768px){
    

nav{
    margin-top: 20px;

    .logo{
       position: relative;
       right: 3%;
       height: 7vh;
    }
    
    .mylinks{
    
        a{
            margin-left: 15px;
        }

        .move{
            width: 40px;
            height: 40px;
            margin-left: 0;
        }

    }
   
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


    h1{
       
        font-size: 40px;
        margin-top: 0px;
        width: 400px;
    }

    .ban{
        margin-left: 0px;
        margin-right: 0px;
    }

    p{
       font-size: 22px;
       width: 380px;
    
    }

    .imga{
        margin-top: 0;
    }


    img{
        width: 200px;
        height: 50vh;
        object-fit: contain;
        margin-top: 0px;
        
    }

    #none{
        display: none;
    }

    #non{
        display: none;
    }

    #nons{
        display: none;
    }
}

#About{

    margin-top: 50px;


    h2{
      margin-left: 35px;
      font-size: 24px;
    
    }
     
    p{
        width: 600px;
        font-size: 22px;
    }

   
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .images{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 600px;
            margin-bottom: 30px;

           img{
            width: 300px;
            height: 40vh;
            object-fit: cover;
           }
           
           .imga{
            margin-top: 30px;
           }

        }
    }
    
    .vidsss{
        display: flex;
        flex-direction: column; 

        button{
            width: 150px;
            font-size: 20px;
            margin-top: 30px;
        }
    }

      
    .video{
        width: 600px;
        height: 50vh;
    }
}

#Services{

    margin-top: 100px;
    margin-bottom: 100px;

     h2{
        // margin-top: 50px;
        // margin-bottom: 30px;
        margin-left: 35px;

     }

    .container{
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       gap: 5px;

       .icons{
         width:250px ;
         height: 40vh;
         position: relative;
         .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 78.5%;
            top: 87.5%;
        }

       }

       .iconss{
        width:250px ;
        height: 40vh;
        position: relative;

        .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 78.5%;
            top: 87.5%;
        }
      }

      h4{
        font-size: 22px;
        position: absolute;
        top: 92%;
        left: 40%;

      }

       .list{
        height: 40vh;
        width: 250px;
        position: relative;

        ol{
            margin-top: 10px;
            margin-left: 20px;
            li{
                margin-bottom: 10px;
            }

            .icon{
                width: 50px;
                height: 50px;
                position: absolute;
                left: 78.5%;
                top: 87.5%;
            }
        }
        h3{
            font-size: 24px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    }
    
}

#Testimonial{
    margin-top: 25px;

    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
        font-size: 24px;
        width: 400px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    

    }


    .Tendai{
        position: relative;
        width: 330px;
        height: 30vh;
        i{
            position: absolute;
            top: 86%;
            left: 90%;
        }
    }
    p{
        font-size: 22px;
        width: 330px;
    }


    
    .Miranda{

        position: relative;
        width: 330px;
        height: 30vh;

        i{
            color: white;
            background-color: $mycolor;
            padding: 5px;
            position: absolute;
            top: 86%;
            left: 90%;
        }

       
    }

}

.seen{

    margin-top: 0px;
    margin-bottom: 70px;


    p{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 22px;
    }

    .container{

      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 15px;

      .imag{
        margin: 0;
      }

      button{
        padding: 10px;
        font-size: 20px;
      }

      img{
        width: 215px;
        height: 44vh;
        margin: 0;
      }

    }
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 70px;
    margin-top: 50px;
    background-color: $mycolor;

    i{
        margin-right: 10px;
        color: white;
    }

    img{
        width: 150px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h4{
        font-size: 22px;
        margin-top: 20px;
        color: white;
        text-decoration: underline;
        

    }

    p{
        font-size: 22px;
        color: white;
    }

}
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    

nav{
    margin-top: 20px;

    .logo{
       position: relative;
       right: 5%;
       width: 200px;
       height: 7vh;
    }
    
    .mylinks{

        .move{
            width: 40px;
            height: 40px;

        }

    }
   
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -136px;

    h1{
       
        font-size: 42px;
        margin-top: 0px;
        width: 400px;
    }

    .ban{
        margin-left: 0px;
        margin-right: 0px;
    }

    p{
       font-size: 30px;
       width: 410px;
    
    }


    img{
        width: 250px;
        height: 65vh;
        object-fit: contain;
        margin-top: 0;
        
    }

    #none{
        display: none;
    }

    #non{
        display: none;
    }

}

#About{
    margin-top: 40px;
 

    h2{
      margin-left: 35px;
      font-size: 35px;
    
    }
     
    p{
        width: 700px;
        font-size: 30px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .images{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 700px;
            margin-bottom: 30px;
           img{
            width: 350px;
            height: 40vh;
            object-fit: cover;
           }
           
           .imga{
            margin-top: 30px;
           }
        }
    }
    
    .vidsss{
        display: flex;
        flex-direction: column; 

        p{
            font-size: 30px;
        }

        button{
            margin-top: 30px;
        }
    }

   

    .video{
        width: 700px;
        height: 50vh;

    }
}

#Services{

    margin-top: 100px;
    margin-bottom: 100px;

     h2{
        // margin-top: 50px;
        // margin-bottom: 30px;
        margin-left: 35px;
        font-size: 35px;

     }

    .container{
       display: flex;
       align-items: center;
       justify-content: space-evenly;

       .icons{
         width:300px ;
         height: 40vh;
         position: relative;
         .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 83.5%;
            top: 90.5%;
        }

       }

       .iconss{
        width: 300px ;
        height: 40vh;
        position: relative;

        .icon{
            width: 50px;
            height: 50px;
            position: absolute;
            left: 83.5%;
            top: 90.5%;
        }
      }

      h4{
        font-size: 30px;
        position: absolute;
        top: 92%;
        left: 40%;

      }

       .list{
        height: 40vh;
        width: 300px;
        position: relative;

        ol{
            margin-top: 10px;
            margin-left: 20px;
            li{
                margin-bottom: 10px;
            }

            .icon{
                width: 50px;
                height: 50px;
                position: absolute;
                left: 83.5%;
                top: 90.5%;
            }
        }
        h3{
            font-size: 32px;
            margin-top: 20px;
            margin-left: 20px;
        }
    }
    }
    
}

#Testimonial{
    margin-top: 50px;

    h2{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 50px;
        font-size: 35px;
        width: 450px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

    }


    .Tendai{
        position: relative;
        width: 380px;
        height: 25vh;
        i{
            position: absolute;
            top: 86%;
            left: 90%;
        }
    }
    p{
        font-size: 30px;
        width: 380px;
    }


    
    .Miranda{

        position: relative;
        width: 380px;
        height: 25vh;

        i{
            color: white;
            background-color: $mycolor;
            padding: 5px;
            position: absolute;
            top: 86%;
            left: 90%;
        }

       
    }

}

.seen{

    h2{
        font-size: 35px;
    }


    p{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 30px;
    }

    .container{

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 10px;
      width: 900px;

      .imag{
        margin-top:0 ;
      }

   

      img{
        width: 285px;
        height: 45vh;
      }

    }
}

footer{
    p{
        font-size: 20px;
        width: 200px;
    }
    h4{
        font-size: 30px;
    }
}

}


@media only screen and (min-width: 1399.98px) {
    

    nav{
        
    
        .logo{
           object-fit: contain;
           height: 10vh;
           width: 300px;
        }
        
        .mylinks{

            a{
                font-size: 28px;
            }
    
        }
       
    }
    
    .banner{
    
        h1{
            font-size: 42px;
            width: 400px;
        }
    
        p{
           font-size: 22px;
        
        }
    
    
        img{
            width: 250px;
            height: 68vh;
            object-fit: contain;
            margin-top: 0;
            
        }

    
    }
    
    #About{
    
    
        h2{
        //   margin-left: 35px;
          font-size: 28px;
        
        }
         
        p{
            width: 500px;
            font-size: 22px;
        }
    
        .container{
    
            .images{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 500px;
                // margin-bottom: 30px;
               img{
                width: 250px;
                height: 40vh;
                object-fit: cover;
               }
               
               .imga{
                margin-top: 90px;
               }
            }
        }
        
        .vidsss{
            display: flex;
            flex-direction: column; 
    
            p{
                font-size: 22px;
            }
    
            button{
                margin-top: 49px;
            }
        }
    
       
    
        .video{
            width: 500px;
            height: 50vh;
    
        }
    }
    
    #Services{
    
    
         h2{
            font-size: 28px;
    
         }
    
        .container{
    
           .icons{
             width:400px ;
             height: 70vh;
             position: relative;
             .icon{
                width: 50px;
                height: 50px;
                position: absolute;
                left: 87.5%;
                top: 91.5%;
            }
    
           }
    
           .iconss{
            width: 400px ;
            height: 70vh;
            position: relative;
    
            .icon{
                width: 50px;
                height: 50px;
                position: absolute;
                left: 87.5%;
                top: 91.5%;
            }
          }
    
          h4{
            font-size: 24px;
            position: absolute;
            top: 92%;
            left: 40%;
    
          }
    
           .list{
            height: 70vh;
            width: 400px;
            position: relative;
    
            ol{
                margin-top: 10px;
                margin-left: 20px;
                font-size: 22px;
                li{
                    margin-bottom: 10px;
                }
    
                .icon{
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    left: 87.5%;
                    top: 91.5%;
                }
            }
            h3{
                font-size: 26px;
            }
        }
        }
        
    }
    
    #Testimonial{
        
    
        h2{
   
            font-size: 28px;
    
        }
        .container{
    
    
        .Tendai{
            width: 450px;
            height: 45vh;
            i{
                position: absolute;
                top: 89%;
                left: 91.5%;
            }
        }
        p{
            font-size: 22px;
            width: 380px;
        }
    
    
        
        .Miranda{
    
            position: relative;
            width: 450px;
            height: 45vh;
    
            i{
                color: white;
                background-color: $mycolor;
                padding: 5px;
                position: absolute;
                top: 89%;
                left: 91.5%;
            }
    
           
        }
    
    }
    
    .seen{

        .container{
            width: 900px;


            img{
                width: 140px;
                height: 50vh;
            }
    
        }
    
    
        p{

            font-size: 22px;
        }
    
    
    }
    
    footer{
        p{
            font-size: 22px;
            width: 200px;
        }
        h4{
            font-size: 24px;
        }
    }
    
    }
}
    


      